# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SpringChaper05\junit_\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
